<nav class="font-heading bg-white py-4 px-6 flex justify-between items-center">
  <!-- Left: Logo -->
  <div class="flex items-center bg-white">
    <span class="font-bold text-xl">GO FITNESS</span>
  </div>

  <!-- Center: Navigation Links -->
  <ul class="hidden md:flex space-x-6 text-gray-600 font-medium">
    <li>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-500 transition"
        >HOME</a
      >
    </li>
    <li>
      <a
        routerLink="/shop"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-500 transition"
        >SHOP</a
      >
    </li>
    <li>
      <a
        routerLink="/blog"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-500 transition"
        >BLOG</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-500 transition"
        >CONTACT</a
      >
    </li>
  </ul>

  <!-- Right: Login / User Profile -->
  <div class="hover:text-blue-500">
    <button (click)="Login()" class="btn btn-primary bg-blue">Login</button>
  </div>
</nav>
