<nav class="font-heading bg-white py-4 px-6 flex justify-between items-center">
  <div class="flex items-center bg-white">
    <span class="font-bold text-xl">GO FITNESS</span>
  </div>

  <ul class="hidden md:flex space-x-6 text-gray-600 font-medium">
    <li>
      <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500" class="hover:text-blue-500 transition">HOME</a>
    </li>
    <li>
      <a routerLink="/shop" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500" class="hover:text-blue-500 transition">SHOP</a>
    </li>
    <li>
      <a routerLink="/blog" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500" class="hover:text-blue-500 transition">BLOG</a>
    </li>
    <li>
      <a routerLink="/contact" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500" class="hover:text-blue-500 transition">CONTACT</a>
    </li>
  </ul>

  <div *ngIf="isLoggedInSignal(); else loginLink" class="flex items-center space-x-4">
    <a (click)="logout()" class="text-gray-600 hover:text-blue-500 transition">Logout</a>
    <a routerLink="/profile" class="hover:text-blue-500 transition">Profile</a>
  </div>

  <ng-template #loginLink>
    <div class="hover:text-blue-500">
      <a (click)="login()" class="btn btn-primary bg-blue">Login</a>
    </div>
  </ng-template>
</nav>
