@if(!previewMode()){
<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Create Your Blog</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="title" class="block text-gray-700 font-medium mb-2">Blog Title</label>
        <textarea
          id="title"
          class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-indigo-300 font-bold"
          formControlName="title"
          rows="1"
          placeholder="What's on your mind, Champ?"
          (input)="onTitleChange(addForm.value.title)"
        ></textarea>
      </div>
      <div class="mb-6">
        <label for="image" class="block text-gray-700 font-medium mb-2">Upload Images</label>
        <input
          type="file"
          id="image"
          class="hidden"
          (change)="onImagesUpload($event)"
          accept="image/*"
          multiple
        />
        <br>
        <br>
        <label
          for="image"
          class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading mt-16 cursor-pointer"
        >
          Choose Files
        </label>
      </div>
      <div class="mb-6" *ngIf="uploadedImages.length > 0">
        <h3 class="text-lg font-bold text-gray-700 mb-4">Selected Images</h3>
        <ul>
          <li
            *ngFor="let image of uploadedImages; let i = index"
            class="flex items-center justify-between mb-2"
          >
            <span class="text-gray-600">{{ image.name }}</span>
            <button
              type="button"
              (click)="removeImage(i)"
              class="text-red-500 hover:underline"
            >
              Remove
            </button>
          </li>
        </ul>
      </div>
      <div class="mb-6">
        <label for="content" class="block text-gray-700 font-medium mb-2">Content</label>
        <textarea
          id="content"
          class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-indigo-300"
          formControlName="content"
          rows="10"
          placeholder="Express yourself here..."
          (input)="onContentChange(addForm.value.content)"
        ></textarea>
      </div>
      <div class="flex justify-between">
        <button
          type="button"
          (click)="onPreview()"
          class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading mt-16 cursor-pointer"
        >
          Preview Blog
        </button>
        <button
          type="submit"
          class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading mt-16 cursor-pointer"
          [disabled]="addForm.invalid"
        >
          Publish Blog
        </button>
      </div>
    </form>
  </div>
}
@else{
    <div class="max-w-7xl mx-auto p-10 bg-white shadow-lg rounded-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Create Your Blog</h2>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="flex space-x-6">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="title" class="block text-gray-700 font-medium mb-2">Blog Title</label>
                <textarea
                  id="title"
                  class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-indigo-300 font-bold"
                  formControlName="title"
                  rows="1"
                  placeholder="What's on your mind, Champ?"
                  (input)="onTitleChange(addForm.value.title)"
                ></textarea>
              </div>
              <div class="mb-6">
                <label for="image" class="block text-gray-700 font-medium mb-2">Upload Images</label>
                <input
                  type="file"
                  id="image"
                  class="hidden"
                  (change)="onImagesUpload($event)"
                  accept="image/*"
                  multiple
                />
                <br>
                <br>
                <label
                  for="image"
                  class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading mt-16 cursor-pointer"
                >
                  Choose Files
                </label>
              </div>
              <div class="mb-6" *ngIf="uploadedImages.length > 0">
                <h3 class="text-lg font-bold text-gray-700 mb-4">Selected Images</h3>
                <ul>
                  <li
                    *ngFor="let image of uploadedImages; let i = index"
                    class="flex items-center justify-between mb-2"
                  >
                    <span class="text-gray-600">{{ image.name }}</span>
                    <button
                      type="button"
                      (click)="removeImage(i)"
                      class="text-red-500 hover:underline"
                    >
                      Remove
                    </button>
                  </li>
                </ul>
              </div>
      
              <div class="mb-6">
                <label for="content" class="block text-gray-700 font-medium mb-2">Content</label>
                <textarea
                  id="content"
                  class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-indigo-300"
                  formControlName="content"
                  rows="10"
                  placeholder="Express yourself here..."
                  (input)="onContentChange(addForm.value.content)"
                ></textarea>
              </div>
      
              <div class="flex justify-center mt-6">
                <button
                  type="submit"
                  class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading cursor-pointer"
                  [disabled]="addForm.invalid"
                >
                  Publish Blog
                </button>
              </div>
            </div>
      
            <div class="w-1/2">
                <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg my-4">
                    <!-- Blog Title -->
                    <h1 class="text-3xl font-bold text-gray-800">{{ addForm.value.title }}</h1>
                  
                    <!-- Author & Date -->
                    <div class="flex items-center mt-4">
                      <!-- <img [src]="'https://api.dicebear.com/9.x/initials/svg?seed=' + blog.author?.firstname" 
                           alt="{{ blog.author?.firstname }}" 
                           class="w-10 h-10 rounded-full"> -->
                           <div class="w-8 h-8 rounded-full bg-gray-500 flex items-center justify-center">
                            <span class="text-white text-md font-semibold">{{ (userFullName$ | async)?.first_name?.charAt(0) }}{{ (userFullName$ | async)?.last_name?.charAt(0) }}</span>
                           </div>
                      <div class="ml-3">
                        <p class="text-gray-700 font-semibold">{{ (userFullName$ | async)?.first_name }} {{ (userFullName$ | async)?.last_name }}</p>
                      </div>
                    </div>
                  
                    <!-- Main Image -->
                     @if(uploadedImages.length > 0){
                    <img src="{{ uploadedImages[0] }}" alt="{{ addForm.value.title }}" class="w-full h-80 object-cover rounded-lg mt-6">
                     }
                    <!-- Blog Content -->
                    <div class="mt-6 text-gray-700 leading-relaxed space-y-4">
                      <!-- @for(paragraph of blog.content?.split('\n'); track paragraph){
                        <p>
                          {{ paragraph }}
                        </p>
                      } -->
                        <p>
                          {{ addForm.value.content }}
                        </p>
                    </div>
                  
                    <div *ngIf="uploadedImages.length > 1" class="grid grid-cols-2 gap-4 mt-6">
                      <div *ngFor="let image of uploadedImages.slice(1)">
                        <img src="{{ image }}" alt="{{ addForm.value.title }}" class="w-full h-80 object-cover rounded-lg">
                      </div>
                    </div>
                  
                  </div>
                  
              <div class="flex justify-center mt-4">
                <button
                  class="px-6 py-3 bg-gradient-to-r text-black font-semibold uppercase tracking-wider shadow-lg border-2 border-black hover:border-purple-600 hover:shadow-white/50 transition-all duration-300 font-heading cursor-pointer"
                  (click)="onPreview()"
                >
                  Exit Preview
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      
}