<div class="container mx- font-heading p-6">
  <h2 class="text-black text-4xl mb-6">Welcome, Admin!</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <h3 class="text-lg font-bold text-gray-700">Total Products</h3>
      <p class="text-2xl font-semibold text-gray-900">30,000</p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <h3 class="text-lg font-bold text-gray-700">Total Blogs</h3>
      <p class="text-2xl font-semibold text-gray-900">30,000</p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <h3 class="text-lg font-bold text-gray-700">Total User Accounts</h3>
      <p class="text-2xl font-semibold text-gray-900">30,000</p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <h3 class="text-lg font-bold text-gray-700">Total Purchases</h3>
      <p class="text-2xl font-semibold text-gray-900">30,000</p>
    </div>
  </div>
  <div class="flex flex-row mt-9 space-x-1">
    <div class="bg-white shadow-lg rounded-lg p-6 w-1/2">
      <h3 class="text-lg font-semibold mb-4">Top Sold Products</h3>
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
      ></canvas>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 w-1/2">
      <h3 class="text-lg font-semibold mb-4">Published Blogs Per Month</h3>
      <canvas baseChart [data]="pieChartData" [type]="'line'"></canvas>
    </div>
  </div>
</div>
