<div class="container mx-auto font-heading p-6">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-black text-4xl">Manage Blogs</h2>
  </div>

  <div class="overflow-x-auto bg-white shadow-md rounded-lg">
    <table class="table-auto w-full border-collapse border border-gray-200">
      <thead>
        <tr class="bg-gray-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Title</th>
          <th class="py-3 px-6 text-left">Author</th>
          <th class="py-3 px-6 text-left">Status</th>
          <th class="py-3 px-6 text-center">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <ng-container *ngIf="posts$ | async as posts">
          <tr 
          *ngFor="let blog of posts; trackBy: trackByPostId"
          class="border-b border-gray-200 hover:bg-gray-100">
          <td
            class="py-3 px-6 text-left hover:underline hover:text-blue-500 hover:cursor-pointer"
          >
            <!-- <a (click)="navigateToDetails(blog)">{{ blog.title }}</a> -->
              {{ blog.title }}
          </td>
          <td class="py-3 px-6 text-left">
            {{ blog.user.first_name }} {{ blog.user.last_name }}
          </td>
          <td class="py-3 px-6 text-left">
            {{ blog?.status }}
          </td>
          <td class="py-3 px-6 text-center text-xl">
            <button
              *ngIf="blog?.status?.toUpperCase() === 'PENDING'"
              class="text-blue-500 hover:text-blue-700 mr-2"
              (click)="approveBlog(blog)"
            >
              <i class="fa-solid fa-square-check"></i>
            </button>
            
            <button
              class="text-red-500 hover:text-red-700"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        </ng-container>
        
      </tbody>
    </table>
  </div>
</div>
